<c:container margin="y-4">
  <c:grid-row>
    <c:grid-col col="6-md">
      &copy; 2025 <a href="/"><%= _meta.site.title %></a>. <c:span t:content="allRightsReserved" />
    </c:grid-col>
    <c:grid-col col="6-md" text="align:end-md">
      <c:list type="inline">
        <c:list-item href="sumba:/info/cookie-policy" t:content="cookie" />
        <c:list-item href="sumba:/info/privacy" t:content="privacy" />
        <c:list-item href="sumba:/info/terms-conditions" t:content="terms" />
      </c:list>
    </c:grid-col>
  </c:grid-row>
</c:container>
