<c:navbar background="color:secondary-subtle" position="type:sticky-top" padding="x-3" shadow="sm" style="min-height:57px" <%= _meta.darkMode ? 'border="side:bottom"' : '' %>>
  <c:grid-row gutter="0" dim="width:100">
    <c:grid-col col="6-lg" flex="align-items:center">
      <div id="fullTitle">
        <c:heading type="5" t:content="<%= page.fullTitle %>" />
      </div>
    </c:grid-col>
    <c:grid-col col="6-lg" flex="justify-content:end-lg align-items:center">
      <c:breadcrumb auto-detect href-rebuild margin="all-0"/>
    </c:grid-col>
  </c:grid-row>
</c:navbar>
