<c:div background="color:secondary-subtle" margin="top-5" padding="top-5 bottom-3">
  <c:container>
    <c:grid-row>
      <c:grid-col col="6-sm 7-lg">
        <c:grid-row>
          <c:grid-col col="12-md 4-lg">
            <!-- include main.partial:/footer/col-1.html -->
          </c:grid-col>
          <c:grid-col col="12-md 4-lg">
            <!-- include main.partial:/footer/col-2.html -->
          </c:grid-col>
          <c:grid-col col="12-md 4-lg">
            <!-- include main.partial:/footer/col-3.html -->
          </c:grid-col>
        </c:grid-row>
      </c:grid-col>
      <c:grid-col col="6-sm 5-lg">
        <!-- include main.partial:/footer/col-4.html -->
      </c:grid-col>
    </c:grid-row>
  </c:container>
</c:div>
<c:div background="color:secondary-subtle" padding="y-3">
  <c:container>
    <c:grid-row>
      <c:grid-col col="6-md">
        &copy; 2025 <a href="/"><%= _meta.site.title %></a>. <c:span t:content="allRightsReserved" />
      </c:grid-col>
      <c:grid-col col="6-md" text="align:end-md">
        <c:list type="inline">
          <c:list-item href="sumba:/info/cookie-policy" t:content="cookie" />
          <c:list-item href="sumba:/info/privacy" t:content="privacy" />
          <c:list-item href="sumba:/info/terms-conditions" t:content="terms" />
          <c:list-item content="|" />
          <c:list-item href="/">
            <c:img src="waibuMpa:/logo/main?type=full<%= _meta.darkMode ? '-light' : '' %>" height="20" />
          </c:list-item>
        </c:list>
      </c:grid-col>
    </c:grid-row>
  </c:container>
</c:div>
