<c:page-start body-class="bg-alt" />
<c:main flex>
  <!-- include waibuAdmin.partial:/layout/sidebar.html -->
  <c:div flex="fill column">
    <!-- include waibuAdmin.partial:/layout/navbar.html -->
    <c:container margin="start-0 top-3 bottom-5" style="max-width: 1200px;">
      <!-- include waibuAdmin.partial:/layout/crud/before-list.html -->
      <!-- body -->
      <!-- include waibuAdmin.partial:/layout/crud/after-list.html -->
    </c:container>
  </c:div>
</c:main>
<c:page-end back-to-top/>
